html {
    overflow-y: scroll
}

body {
    font-family: 'Fira Code', monospace;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    color: #444
}

h1, h2, h3 {
    line-height: 1.2
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #444
    }
    a:link {
        color: #5bf
    }
    a:visited {
        color: #ccf
    }
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}

pre {
    /* color: black; */
    font-family: 'VT323', monospace;
    font-size: small;
}

blockquote {
    font-family: serif;
}

figure {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

table, th, td {
    border: 1px solid white;
}
